.cartCard {
  display: flex;
  border-radius: 0.5rem;
  height: 20rem;
  max-width: 65rem;
  background-color: var(--bg-color3);
  opacity: 90%;
  overflow: hidden;
}

.cardThumb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardThumb > img {
  height: 100%;
}

.cardDetails {
  color: var(--text-color4);
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop,
.cardBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardTop > p,
.cardBottom > p {
  max-width: 80%;
  font-size: 1.6rem;
}

.btnDelete {
  border: none;
  background-color: transparent;
  color: var(--red-color);
}

.btnDelete:hover {
  cursor: pointer;
}

.cardBottom {
  font-size: 2rem;
  font-weight: 600;
}

.productQty {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.productQty > p {
  font-size: 1.6rem;
  font-weight: 400;
}

.btnsQty {
  display: flex;
  gap: 0.2rem;
}

.btnSub,
.btnSum {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  background-color: var(--bg-color4);
  color: var(--text-color4);
  transition: 0.2s;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btnSub:hover,
.btnSum:hover {
  cursor: pointer;
  background-color: var(--bg-color2);
  color: var(--text-color2);
}

.btnSub {
  border-radius: 1rem 0 0 1rem;
}

.btnSum {
  border-radius: 0 1rem 1rem 0;
}

@media screen and (max-width: 640px) {
  .cartCard {
    height: 15rem;
  }

  .cardDetails {
    padding: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .cardThumb > img {
    height: 60%;
  }

  .cardTop {
    max-height: 60%;
    overflow: hidden;
  }

  .btnSub,
  .btnSum {
    height: 2.4rem;
    width: 2.4rem;
  }

  .productQty {
    gap: 0.2rem;
  }
}
