.cartCard {
  display: flex;
  border-radius: 0.5rem;
  height: 20rem;
  max-width: 65rem;
  background-color: var(--primary-text-color);
  opacity: 90%;
  overflow: hidden;
}

.cardThumb {
  height: 100%;
}

.cardThumb > img {
  height: 100%;
}

.cardDetails {
  color: var(--secondary-text-color);
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop,
.cardBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardTop {
  font-size: 2.4rem;
}

.btnDelete {
  border: none;
  background-color: transparent;
}

.btnDelete:hover {
  cursor: pointer;
}

.cardTop > p,
.cardBottom > p {
  max-width: 80%;
}

.cardBottom {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
}
