.menu {
  background-color: var(--bg-color1);
  width: 40rem;
  padding: 1rem 3rem;
  min-height: 100vh;
  z-index: 2;
  position: fixed;

  right: 0;
  transition: 0.2s;
  overflow-y: scroll;
}

.menu::-webkit-scrollbar {
  width: 0px;
}
