.menu {
  background-color: var(--bg-color1);
  width: 40rem;
  padding: 1rem 3rem;
  z-index: 2;
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  overflow-y: scroll;
}

.menu::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 640px) {
  .menu {
    padding: 1rem;
    width: auto;
    left: 0;
  }
}
