:root {
  --bg-color: #121212;
  --bg-color1: #fff;
  --bg-color2: #262629;
  --bg-color3: #eee;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --input-color: #6b7280;
  --btn-color: #3b82f6;
  --hover-btn-color: #1d4ed8;
  --accent-color: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Lato, Arial, sans-serif;
}

body {
  min-width: 28rem;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  position: relative;
  display: grid;
  grid-template-rows: 7rem 1fr 7rem;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 1.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color2);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 7rem 1fr 7rem;
}

.main {
  grid-row: 2/3;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  body::-webkit-scrollbar {
    background-color: transparent;
    width: 0rem;
  }

  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
