.card {
  height: 33rem;
  width: 23rem;
  background-color: var(--primary-text-color);
  display: grid;
  grid-template-rows: repeat(2, 16.5rem);
  opacity: 90%;
}

.thumbnail,
.infos-product {
  height: 100%;
  max-width: 100%;
}

.thumbnail {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail > img {
  max-height: 90%;
  max-width: 90%;
}

.infos-product {
  padding: 1.5rem;
  color: var(--secondary-text-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews,
.title {
  font-size: 1.4rem;
}

.title {
  font-weight: 600;
  max-height: 40%;
  overflow-y: hidden;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  .card {
    border-radius: 0.4rem;
    height: 14.4rem;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 15rem;
  }
}
