.product-details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details {
  background-color: var(--bg-color2);
  padding: 8rem;
}

.route,
.route > a,
.route > span {
  font-size: 1.6rem;
}

.route > span {
  color: var(--input-color);
}

.infos {
  margin: 3rem 0;
}

.infos > hgroup {
  margin-bottom: 2rem;
}

.infos > hgroup > h1 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

.infos > hgroup > h2 {
  font-size: 2.6rem;
}

.reviews {
  margin-bottom: 2rem;
}

.infos > ul {
  margin: 2rem 0;
}

.infos > p,
.infos > ul > li,
.infos > p > a {
  font-size: 1.4rem;
}

.infos > p > a {
  color: var(--hover-btn-color);
  font-style: italic;
}

.btnAddCart {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-text-color);
  outline: none;
  border: none;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  background-color: var(--btn-color);
  font-size: 2.2rem;
  transition: 0.2s;
}

.btnAddCart:hover {
  cursor: pointer;
  background-color: var(--hover-btn-color);
}

.product-thumbnail {
  background-color: var(--bg-color1);
  opacity: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-thumbnail > img {
  max-width: 80%;
}

@media screen and (max-width: 1024px) {
  .product-details {
    grid-template-columns: 1fr;
  }

  .product {
    grid-row: 1/2;
  }

  .details {
    padding: 6rem;
  }
}

@media screen and (max-width: 575px) {
  .details {
    padding: 3rem;
  }
}
