.productContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1024px) {
  .productContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr;
  }
}
