.navBtn {
  border: none;
  color: var(--text-color2);
  border-radius: 0.5rem;
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
  background-color: transparent;
  font-size: 1.6rem;
  transition: 0.2s;
  text-align: left;
  padding: 0 2rem;
}

.navBtn:hover {
  cursor: pointer;
  background-color: var(--bg-color2);
}

.disabled {
  color: var(--text-color-disabled);
}
