.card {
  border-radius: 0.5rem;
  height: 33rem;
  width: 23rem;
  background-color: var(--primary-text-color);
  display: grid;
  grid-template-rows: repeat(2, 16.5rem);
  opacity: 90%;
}

.cardThumbnail,
.cardInfos {
  height: 100%;
  max-width: 100%;
}

.cardThumbnail {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardThumbnail > img {
  max-height: 90%;
  max-width: 90%;
}

.cardInfos {
  padding: 1.5rem;
  color: var(--secondary-text-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewWrapp {
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stars {
  display: flex;
}

.reviewWrapp > p {
  font-size: 1rem;
}

.cardTitle {
  font-size: 1.4rem;
  max-height: 40%;
}

.cardPrice {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
}
