.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  font-size: 1.4rem;
  background-color: var(--bg-color2);
  height: 7rem;
  grid-row: 3/4;
}

.footer > p,
.github {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.github {
  gap: 10px;
}

@media screen and (max-width: 640px) {
  .footer {
    height: 15rem;
    flex-direction: column;
    text-align: center;
  }

  .footer > p,
  .github {
    font-size: 1.8rem;
  }
}
