.productPreview {
  background-color: var(--bg-color3);
  opacity: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.productPreview > img {
  max-width: 80%;
}

@media screen and (max-width: 1024px) {  
  .productPreview {
    grid-row: 1/2;
  }
}
