.btnPurchase {
  border: none;
  background-color: var(--btn-color);
  font-size: 1.6rem;
  height: 4rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.2s;
  color: var(--text-color2);
}

.btnPurchase:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}
